@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Congrats for filling out a Movie!</h1><br />

<a asp-controller="Home" asp-action="Movies" class="btn-outline-primary">Click Here to add another movie!</a><br /><br />
<a asp-controller="Home" asp-action="Index" class="btn-outline-primary">Click Here to go to the home page.</a><br /><br />
<a asp-controller="Home" asp-action="MovieList" class="btn-outline-primary">Click Here to go to Movie Master List.</a>
