@{
    ViewData["Title"] = "Podcasts";
}

<h1>Despite what you might think, this is a perfectly legitimate link to a perfectly excellent website.</h1>

<p>
    <a href="https://baconsale.com/" style="font-size:200px" target="_blank" >Click Me!</a>
</p>